<ion-header no-border>
  <ion-navbar hideBackButton>
    <ion-buttons left mode="md">
      <button ion-button icon-only (click)="goback()">
        取消
      </button>
    </ion-buttons>
    <ion-toolbar no-border-top>
      <ion-searchbar #searchbar mode="ios" [(ngModel)]="searchContent" placeholder="搜索城市名字" animated='true'>
      </ion-searchbar>
    </ion-toolbar>


    <ion-buttons right (click)="searchResult()">
      <button ion-button icon-only>
        搜索
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="work-list-search-bg">
  <div class="nodata" *ngIf="isShow">暂无合适记录</div>
  <div class="work-list-search-history" *ngIf="isShowHistory">
    <div class="work-list-search-title">热门城市</div>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of historyArray" col-auto (click)="clickHistoryEvent(item)" tappable>
          <span class="work-list-search-item">{{item}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list no-lines mode='md' (click)="goWorkOrderDetail(item)" class="city-list">
    <button ion-item class="work-lists" mode='md' *ngFor="let item of resultArray" (click)="clickCity(item)">{{item}}</button>
  </ion-list>

</ion-content>
