<ion-header no-border>
  <ion-navbar>
    <ion-buttons left class="leftBtn" (click)="goCityMange()">
      <button ion-button icon-only>
        <i class="iconfont icon-tongcheng_chengshi leftbutton"></i>
      </button>
    </ion-buttons>

    <ion-title>
      <i class="iconfont icon-location"></i>天河区</ion-title>

    <ion-buttons right class="rightBtn" (click)="goInformation()">
      <button ion-button icon-only>
        <i class="iconfont icon-gengduo"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content [ngClass]="{'whiteday':isShowWhiteDay, 'blockday': !isShowWhiteDay}">
  <div class="top-content">
    <img src="{{imgurl}}" alt="" class="top-img">
    <div class="current-wendu">36</div>
    <div class="weather">晴</div>
    <div class="current-wendu">36</div>
    <div class="wenduArea">
      <span>20</span>
      <span>~</span>
      <span>30</span>
    </div>
    <div class="new-content" *ngIf="resultArray.length>0">
      <h2>实时新闻头条：</h2>
      <button class="item-c" *ngFor="let item of resultArray" (click)="goDetail(item.url)">{{item.title}}</button>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <button class="moreNew" (click)="moreInfo()">更多</button>
    </div>
  </div>
  <div class="bottom-box">
    <div class="bottom-content">
      <div class="day">
        <div class="b-t1">今天</div>
        <div class="b-icon">
          <i class="iconfont icon-dayu"></i>
        </div>
        <div class="b-wendu">36度</div>
      </div>

      <div class="day">
        <div class="b-t1">28</div>
        <div class="b-icon">
          <i class="iconfont icon-dayu"></i>
        </div>
        <div class="b-wendu">36度</div>
      </div>

      <div class="day">
        <div class="b-t1">29</div>
        <div class="b-icon">
          <i class="iconfont icon-dayu"></i>
        </div>
        <div class="b-wendu">36度</div>
      </div>

      <div class="day">
        <div class="b-t1">31</div>
        <div class="b-icon">
          <i class="iconfont icon-dongyu"></i>
        </div>
        <div class="b-wendu">36度</div>
      </div>

      <div class="day">
        <div class="b-t1">31</div>
        <div class="b-icon">
          <i class="iconfont icon-baoyu"></i>
        </div>
        <div class="b-wendu">36度</div>
      </div>
    </div>
  </div>
</ion-content>
