@import '../assets/fonts/iconfont.scss';
html{
    font-size: 10px;
    height: 100%;
  }
  //是否隐藏按钮
  .disabled{
    cursor: default;
    opacity: .4;
    pointer-events: none;
  }
  
  
  
  @media (min-width: 375px){
    html{font-size: calc(100vw/3.75/10);}
  } /*>=375的设备*/
  @media (min-width: 1024px){
    html{font-size: 18px}
  } 