page-news {
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        width:0rem;
    }
  
    .segment-md .segment-button{
        font-size:1.5rem;
        font-weight: bold;
    }
    ion-list-header{
        height:20rem;
    }
    .swiper-pagination{
        position: absolute;
        text-align: end;
        
    }
    .item-inner{
        margin-right:0.7rem;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets{
        position:absolute;
        text-align:end;
    }
    .slides-img{
        margin-top:1rem;
        height:15rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}
