page-me {

    .toolbar-title-md{
        text-align: center;
      }
    
    .bg-color{
        background-color: #efeeee;
      }
    
    .top-list{
        margin-top: 1.5rem;
      }
      ion-row{
        margin: 0.8rem 0;
      }

      
   
}
