<ion-header no-shadow no-border>
  <ion-navbar color="light">
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
       
      </button>
    </ion-buttons>
    <ion-scroll scrollX="true">
       
        <ion-segment class="top_segment" [(ngModel)]="segmentDefaultValue" (ionChange)="onSegmentChanged($event)">
            <ion-segment-button value="0">
                头条
            </ion-segment-button>
            <ion-segment-button  value="1">
                社会
            </ion-segment-button>
            <ion-segment-button  value="2">
                国内
            </ion-segment-button>
            <ion-segment-button  value="3">
                国际
            </ion-segment-button>
            <ion-segment-button  value="4">
                娱乐
            </ion-segment-button>
            <ion-segment-button  value="5">
                体育
            </ion-segment-button>
            <ion-segment-button  value="6">
                军事
            </ion-segment-button>
            <ion-segment-button  value="7">
                科技
            </ion-segment-button>
            <ion-segment-button  value="8">
                财经
            </ion-segment-button>
            <ion-segment-button  value="9">
                时尚
            </ion-segment-button>
          </ion-segment>
    </ion-scroll>
    <ion-buttons right mode="md">
      <button ion-button icon-only>
        <i class="iconfont icon-shezhi-xue setting"></i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> -->
  <ion-slides #mySlider (ionSlideWillChange)="onSlideChanged($event)">
    <ion-slide class="page1" *ngFor="let item of slidePageArray; index as i">
      <ion-content class="fixed-content" *ngIf="i%2 == 0">
        <ion-list class="information-list">
           <button ion-item *ngFor="let item of resultArray" (click)="goDetail(item.url)">
             <span text-wrap>{{item.title}}</span>
             <p>{{item.author_name}}</p>
             <ion-avatar item-end>
                <img class="item-img" src="{{item.thumbnail_pic_s}}" alt="" >
              </ion-avatar>
           </button>
        </ion-list>
      </ion-content>

      <ion-content class="fixed-content" *ngIf="i%2 != 0">
        <ion-list class="information-list information-list1">
           <button ion-item *ngFor="let item of resultArray" (click)="goDetail(item.url)">
            <ion-label text-wrap>
              <span class="item-title">{{item.title}}</span>
              <img class="item-imgs" src="{{item.thumbnail_pic_s}}" alt="" >
              <img class="item-imgs" src="{{item.thumbnail_pic_s02}}" alt="" >
              <img class="item-imgs" src="{{item.thumbnail_pic_s03}}" alt="" >
              <p>{{item.author_name}}</p>
            </ion-label>
            
           </button>
        </ion-list>
      </ion-content>
    </ion-slide>

  </ion-slides>
</ion-content>
<!-- http://mini.eastday.com/mobile/170105110355287.html?qid=juheshuju -->