<ion-header no-shadow no-border>
  <ion-navbar color="light">
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
       
      </button>
    </ion-buttons>
    <ion-scroll scrollX="true">
        <ion-segment class="top_segment" [(ngModel)]="segmentDefaultValue" (ionChange)="onSegmentChanged($event)">
            <ion-segment-button value="0">
              推荐
            </ion-segment-button>
            <ion-segment-button  value="1">
              娱乐
            </ion-segment-button>
            <ion-segment-button  value="2">
              养生
            </ion-segment-button>
            <ion-segment-button  value="3">
              视频
            </ion-segment-button>
            <ion-segment-button  value="4">
              情感
            </ion-segment-button>
            <ion-segment-button  value="5">
              奇闻
            </ion-segment-button>
            
          </ion-segment>
    </ion-scroll>
    <ion-buttons right mode="md">
      <button ion-button icon-only>
        <i class="iconfont icon-shezhi-xue setting"></i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-slides #mySlider (ionSlideWillChange)="onSlideChanged($event)">
    <ion-slide class="page1" *ngFor="let item of slidePageArray; index as i">
      <ion-content class="fixed-content" *ngIf="i%2 == 0">
        <ion-list class="information-list">
           <button ion-item>
             <span text-wrap>杨幂的发际线再也回不去了么？网友吐槽像半秃"</span>
             <p>腾讯娱乐</p>
             <ion-avatar item-end>
                <img class="item-img" src="http://03.imgmini.eastday.com/mobile/20170105/20170105110355_806f4ed3fe71d04fa452783d6736a02b_1_mwpm_03200403.jpeg" alt="" >
              </ion-avatar>
           </button>
        </ion-list>
      </ion-content>

      <ion-content class="fixed-content" *ngIf="i%2 != 0">
        <ion-list class="information-list information-list1">
           <button ion-item>
            <ion-label text-wrap>
              <span class="item-title">杨幂的发际线再也回不去了么？网友吐槽像半秃"</span>
              <img class="item-imgs" src="http://03.imgmini.eastday.com/mobile/20170105/20170105110355_806f4ed3fe71d04fa452783d6736a02b_1_mwpm_03200403.jpeg" alt="" >
              <img class="item-imgs" src="http://03.imgmini.eastday.com/mobile/20170105/20170105110355_806f4ed3fe71d04fa452783d6736a02b_1_mwpm_03200403.jpeg" alt="" >
              <img class="item-imgs" src="http://03.imgmini.eastday.com/mobile/20170105/20170105110355_806f4ed3fe71d04fa452783d6736a02b_1_mwpm_03200403.jpeg" alt="" >
              <p>腾讯娱乐</p>
            </ion-label>
            
           </button>
        </ion-list>
      </ion-content>
    </ion-slide>

  </ion-slides>
</ion-content>
<!-- http://mini.eastday.com/mobile/170105110355287.html?qid=juheshuju -->