page-setting {
    .content-md{
        background: #eee;
    }
    .iconfont{
        font-size:2rem;
    }
    .list1{
        color:#333;
    }
    .list1 span{
        color:#333;
    }

    .icon-location{
        color: #4295e3;
    }

    .icon-qinglihuancun{
        color: #f7b846;
    }

    .icon-guanyu{
        color: #9978b1;
    }
    .icon-ziyuan{
        color: #abc270;
    }
    .icon-qiehuandaojiankongmoshi{
        color:  #ff8208
    }
}
